@model FlowHouse.Models.Polozka

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Polozka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PolozkaID" />
            <div class="form-group">
                <label asp-for="Nazev" class="control-label"></label>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pocet" class="control-label"></label>
                <input asp-for="Pocet" class="form-control" />
                <span asp-validation-for="Pocet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumNaskladneni" class="control-label"></label>
                <input asp-for="DatumNaskladneni" class="form-control" />
                <span asp-validation-for="DatumNaskladneni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OddeleniID" class="control-label"></label>
                <select asp-for="OddeleniID" class="form-control" asp-items="ViewBag.OddeleniID"></select>
                <span asp-validation-for="OddeleniID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
